<div class="container">
{{ form_start(form,{'attr':{'novalidate':'novalidate'}}) }}


<div class="col-md-6 col-sm-12">
    <div class="form-group card-label">
    {{ form_label(form.date_debut, "Date debut")  }}
    {{ form_widget(form.date_debut,({'class':'form-control'})) }}
    </div>
    {% if form_errors(form.date_debut) is not empty %}
    <div class="alert alert-danger"
    {{ form_errors(form.date_debut) }}
    </div>
    {% endif %}
    </div>

    <div class="col-md-6 col-sm-12">
    <div class="form-group card-label">
    {{ form_label(form.date_fin, "Date Fin")  }}
    {{ form_widget(form.date_fin,({'class':'form-control'})) }}
    </div>
    {% if form_errors(form.date_fin) is not empty %}
    <div class="alert alert-danger"
    {{ form_errors(form.date_fin) }}
    </div>
    {% endif %}
    </div>

    <div class="col-md-6 col-sm-12">
    <div class="form-group card-label">
    {{ form_label(form.id_v, "Voiture")  }}
    {{ form_widget(form.id_v,({'class':'form-control'})) }}
    </div>
    {% if form_errors(form.id_v) is not empty %}
    <div class="alert alert-danger"
    {{ form_errors(form.id_v) }}
    </div>
    {% endif %}
    </div>

    <div class="col-md-6 col-sm-12">
    <div class="form-group card-label">
    {{ form_label(form.id_cl, "Utulisateur")  }}
    {{ form_widget(form.id_cl,({'class':'form-control'})) }}
    </div>
    {% if form_errors(form.id_cl) is not empty %}
    <div class="alert alert-danger"
    {{ form_errors(form.id_cl) }}
    </div>
    {% endif %}
    </div>




 <button class="btn btn-primary submit-btn"> 
     {{ button_label|default('Save') }}
    </button>



 {{ form_end(form) }}
</div>